@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: #9EC6D1;
  color: #ffffff;
  text-align: center;
  
}

#nav {
height: 100px;
}

#app {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}


#nav{
  background-color: #445680;
}

.card-body{
  background-color: #fac7a2;
}

#auth {
  display: flex; 
  justify-content: center;
  margin-top: 100px;
  font-size: 150px;
}

.delete-dinn{
  background-color: #C2276A;
}

.delete-board{
  background-color: #C2276A;
}