@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  
}

#nav {
height: 100px;
}

#app{
  display: flex;
  justify-content: center;
}